
<div class="card bg-transparent border-light shadow-sm p-2 custom-card-rounded" style="max-width:20rem">

    <div class="card-text ps-3 border-0 rounded-pill bg-white  poppins-text fw-bold" style="font-size: 14px;">Parent Details</div>
    <cdk-accordion class="bg-transparent">
        <cdk-accordion-item *ngFor="let item of _parentDetails; let index = index;" #accordionItem="cdkAccordionItem"
            class="card py-2 my-2 border border-light custom-card-rounded" tabindex="0"
            [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header">
                <div class="d-flex align-middle">
                    <div [attr.data-letters]="item?.FIRST_NAME | slice:0:1" class="rounded-circle text-center my-auto"
                        style="width: 4.5rem;"></div>
                    <div class="" style="flex:1">
                        <div class="fs-6 fw-bold poppins-text">{{item?.FIRST_NAME}}</div>
                        <small class="d-block">{{item?.PRNT_CD }}</small>
                        <div class="grid-container small my-2">
                            <div class="my-auto">
                                <!-- <a class="text-themed" role="button" >More</a> -->
                                <a class="text-themed text-decoration-none btn btn-sm rounded-circle shadow"
                                    role="button" (click)="accordionItem.toggle()">
                                    <mat-icon fontSet="material-icons-outlined" class="">more_horiz</mat-icon>
                                </a>
                            </div>
                            <div class="mt-1">
                                <a class="text-themed text-decoration-none btn btn-sm rounded-circle shadow"
                                    role="button" href="tel:{{item?.PRNT_PHNE_NO}}">
                                    <mat-icon fontSet="material-icons-outlined" class="">phone</mat-icon>


                                </a>

                            </div>
                            <div class="mt-1 pointer">
                                <a class="text-themed text-decoration-none btn btn-sm rounded-circle shadow"
                                    role="button" (click)="updateDetails(item)">
                                    <mat-icon fontSet="material-icons-outlined" class="">edit</mat-icon>
                                </a>
                            </div>
                            <div class="mt-1 pointer">
                                <a class="text-themed text-decoration-none btn btn-sm rounded-circle shadow"
                                    role="button" (click)="addDetails()">
                                    <mat-icon fontSet="material-icons-outlined" class="">add</mat-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-accordion-item-body card-body shadow-sm custom-card-rounded" role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <table class="table text-secondary table-sm">
                    <tr>
                        <th>Name</th>
                        <td>{{item?.FIRST_NAME}}</td>
                    </tr>
                    <tr>

                        <th>Contact </th>
                        <td>{{item?.PRNT_PHNE_NO}}</td>
                    </tr>
                    <tr>

                        <th>Email</th>
                        <td>{{item?.PRNT_EMAIL_ID ? item?.PRNT_EMAIL_ID : '-'}}</td>
                    </tr>
                    <tr>

                        <th>Aadhar</th>
                        <td>{{item?.PRNT_AADH_NO}}</td>
                    </tr>
                    <tr>

                        <th>Occupation</th>
                        <td>{{item?.PRNT_OCCU}}</td>
                    </tr>
                    <tr>

                        <th>Education</th>
                        <td>{{item?.PRNT_EDUC}}</td>
                    </tr>
                </table>
            </div>
        </cdk-accordion-item>
    </cdk-accordion>

</div>