.custom_form_control {
    border-radius: 1.25rem;
    border: 1px solid #ffffff;
    background-color: #fff;
}

.input_group_icon {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 1.25rem;
}

.form_select_custom {
    border: 1px solid #ffffff;
    border-radius: 1.25rem;
}