.ft20 {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #919191;
}

.nm30 {
    font-weight: bolder;
    font-size: 20px;
    font-family: monospace;
}

.lw18 {
    font-size: 15px;
    font-weight: bold;
    color: #61d539;
}

.tex-green {
    color: #61d539;
}

.clickToView {
    background-color: #61d539;
    border-radius: 0px 0px 10px 10px;
    color: white;
    cursor: pointer;
}

.rounded_brdr {
    border-radius: 10px;
}

.secCard_heder {
    font-weight: bold;
    font-size: 19px;
    font-family: sans-serif;
    color: #919191;
}

.crd {
    padding: 10px;
}

.smallfont{
    font-weight: bold;
    font-size: 8px;
}

