<h2 mat-dialog-title class="text-lowercase text-capitalize">{{data?.modalTitle}} for {{data?.studentDetails?.STUD_FIRST_NAME | lowercase}}</h2>
<mat-dialog-content>
  <ng-container [ngTemplateOutlet]="routeInfo" [ngTemplateOutletContext]="{ data: routeDetails$ | async }">
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>


<ng-template #routeInfo let-data="data">
  <div class="card rounded-5 border-0">
    <table class="table-sm table-striped">
      <tr>

        <th>Route Number</th>
        <td>{{data?.BUS_RUTE_NO | mask : 'SSXX-SXXXX'}}</td>
      </tr>
      <tr>

        <th>Driver Name</th>
        <td>{{data?.BUS_RUTE_DRIVER_NAME}}</td>
      </tr>
      <tr>

        <th>Driver Number</th>
        <td>{{data?.BUS_RUTE_DRIVER_NAME}}</td>
      </tr>
      <tr>

        <th>Route Status</th>
        <ng-container *ngIf="data?.IS_ACTIVE">
          <td *ngIf="data?.IS_ACTIVE === 1"><small class="badge bg-themed text-white">Active</small></td>
          <td *ngIf="data?.IS_ACTIVE !== 1"><small class="badge bg-themed text-white">Inactive</small></td>
        </ng-container>
      </tr>
    </table>
  </div>
</ng-template>