<div class="card m-4 border-0 bg-transparent">
  <div class="card-body bg-transparent" id="search_and_filters">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="px-2">Student Lists</div>
      <div class="flex-grow-1">

      </div>
      <div class="">
        <app-erp-input type="search" class="" [formControl]="search"></app-erp-input>
      </div>
    </div>

  </div>
  <div class="card-body" id="view_change_slot">
    <div class="d-flex flex-wrap justify-content-end">
      <div class="my-auto pointer">

        <mat-icon class="fs-6" (click)="viewAs('grid')">dashboard</mat-icon>
      </div>
      <div class="my-auto pointer">

        <mat-icon class="fs-4" (click)="viewAs('list')">list</mat-icon>
      </div>
    </div>
  </div>
  <div class="card-body p-0 m-0">
    <div class="row">
      <div class="col g-4" [ngClass]="{'col':currentViewAs === 'grid','col-12':currentViewAs === 'list'}" *ngFor="let grid of grids">
        <app-student-list-card></app-student-list-card>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-0 d-flex justify-content-end">
    <app-erp-paginator [erpPaging]="initPaginator"></app-erp-paginator>
  </div>
</div>