<div class="card m-4 border-0 bg-transparent">
  <div class="card-body bg-transparent my-0 py-0" id="search_and_filters">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="px-2">Student Lists</div>
      <div class="flex-grow-1">

      </div>
      <div class="">
        <app-erp-input type="search" class="" [formControl]="search"></app-erp-input>
      </div>
    </div>

  </div>
  <div class="card-body my-0" id="view_change_slot">
    <div class="d-flex flex-wrap justify-content-end">
      <div class="my-auto pointer">

        <mat-icon class="fs-6" (click)="viewAs('grid')">dashboard</mat-icon>
      </div>
      <div class="my-auto pointer">

        <mat-icon class="fs-4" (click)="viewAs('list')">list</mat-icon>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="currentViewAs === 'grid'">
    <div class="grid-container">
      <ng-container *ngFor="let grid of (grids|slice:startIndex:endIndex)">

        <app-student-list-card
        (routeConfiguration)="routeConfigurationCaptured($event)"
        (openModalWindow)="openModalWindowCapture($event)"
         [_studentDetailsList]="grid" (disableStudentDetails)="studentDisableEventCapture($event)"></app-student-list-card>
  
      </ng-container>
    </div>
  </div>
  <div class="card-body" *ngIf="currentViewAs === 'list'">
    <div class="row">
      <ng-container *ngFor="let grid of (grids|slice:startIndex:endIndex)">
      <div class="col-12 g-4">

        <app-student-list-card 
        (routeConfiguration)="routeConfigurationCaptured($event)"
        (openModalWindow)="openModalWindowCapture($event)"
        [_studentDetailsList]="grid" (disableStudentDetails)="studentDisableEventCapture($event)"></app-student-list-card>
      </div>
    </ng-container>
    </div>
  </div>
  <div class="card-footer bg-transparent border-0 d-flex justify-content-end" *ngIf="grids.length">
    <app-erp-paginator [erpPaging]="initPaginator" (paginated)="paginatedEventCapture($event)"></app-erp-paginator>
  </div>
</div>