<!-- <div class="card border-0">
    <div class="card-header  poppins-text fw-bold">Sibiling Details</div>
    <cdk-accordion class="bg-transparent">
        <cdk-accordion-item *ngFor="let item of _siblingdetails; let index = index;" #accordionItem="cdkAccordionItem"
            class="card py-2 border border-light custom-card-rounded" tabindex="0"
            [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header">
                <div class="d-flex align-middle">
                    <div [attr.data-letters]="item?.PRNT_NAME | slice:0:1" class="rounded-circle text-center"
                        style="width: 4.5rem;"></div>
                    <div class="" style="flex:1">
                        <div class="fs-6 fw-bold poppins-text">{{item?.PRNT_NAME}}</div>
                        <small class="d-block">{{item?.PRNT_PHNE_NO}}</small>
                        <div class="grid-container small">
                            <div class="">
                                <a class="text-themed" role="button" (click)="accordionItem.toggle()">More</a>

                            </div>
                            <div class="mt-1">
                                <a class="text-themed text-decoration-none" role="button" href="tel:5554280940">
                                    <mat-icon fontSet="material-icons-outlined" class="d-block small" role="button">phone
                                    </mat-icon>

                                </a>

                            </div>
                            <div class="mt-1">
                                <mat-icon fontSet="material-icons-outlined" class="d-block small" role="button">edit
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-accordion-item-body card-body shadow-sm custom-card-rounded" role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <table class="table text-secondary">
                    <tr>
                        <th>Name</th>
                        <td>{{item?.PRNT_NAME}}</td>
                    </tr>
                    <tr>

                        <th>Phone Number</th>
                        <td>{{item?.PRNT_PHNE_NO}}</td>
                    </tr>
                    <tr>

                        <th>Name</th>
                        <td>{{item?.PRNT_NAME}}</td>
                    </tr>
                    <tr>

                        <th>Email Address</th>
                        <td>{{item?.PRNT_EMAIL_ID}}</td>
                    </tr>
                    
                </table>
            </div>
        </cdk-accordion-item>
    </cdk-accordion>

</div> -->