<form [formGroup]="feesDetailsForm" class="card border-0 mt-4">
    <div class="row g-3 card-body">
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <label>Student Admission</label>
            <app-student-search [ngSelectData]="_studentDetails" [searchDisabled]="false"
                (selectedValueEvent)="captureAdmissionNo($event)"></app-student-search>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Fees Date" type="dateTime" formControlName="FEES_DATE" fieldName="FEES_DATE"
                [parentForm]="feesDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Fees Bill No." type="number" formControlName="FEES_BILL_NO" fieldName="FEES_BILL_NO"
                [parentForm]="feesDetailsForm">
            </app-erp-input>
        </div>
    </div>
    <div class="row g-3 card-body">
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Fees Balance" type="number" formControlName="FEES_BALANCE" fieldName="FEES_BALANCE"
                [parentForm]="feesDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Fees Discount" type="number" formControlName="FEES_DISCOUNT" fieldName="FEES_DISCOUNT"
                [parentForm]="feesDetailsForm">
            </app-erp-input>
        </div>
    </div>
    <div class="row g-3 card-body">
        <app-erp-input label="Special Notes" type="textarea"  formControlName="FEES_NOTES" fieldName="FEES_NOTES"
        [parentForm]="feesDetailsForm">
    </app-erp-input>
    </div>
</form>