.border-error {
  box-shadow: 0 0 5px 0.25rem rgba(213, 88, 57, 0.25) !important;
}
.error-text-shadow {
  text-shadow: 1px 1px rgba(213, 88, 57, 0.25) !important;
}

label,
.label {
  font-size: 0.9rem;
  text-align: left;
  font-family: ERP Lighter;
  letter-spacing: 0px;
  height: 1rem;
  color: #868d96;
}

textarea.rounded-pill {
  border-radius: 1rem !important;
}
input{
  color:#616161;
}
.border-error.maskPlaceHolderStyle {
  color: var(--bs-danger);
}

.border-error.maskPlaceHolderStyle.maskedFieldDataPlaced {
  color: unset;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color)/25%;
}
.form-switch .form-check-input:focus{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2361d539' fill-opacity='0.4' /%3e%3c/svg%3e");
}


@import "~@ng-select/ng-select/themes/default.theme.css";
:host ::ng-deep {
  ng-select{
    // line-height: 2.5rem !important;
    font-family: 'ERP Condensed' !important;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10rem;

  }
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
    // width: 99%;

  }
  .ng-select .ng-clear-wrapper{
    width: 35px;
  }
  ng-dropdown-panel{
    background: white;
    padding: 0.5rem
  }

  app-list{
    width: calc(100% - 0.8rem);
  }
  .ng-select.searchDisabled .ng-select-container .ng-value-container .ng-input > input {
    background: #e9ecef
  }

  .ng-select .ng-select-container .ng-value-container .ng-input > input {
    // line-height: 2.2rem;
    width: calc(100% - 0.8rem);
    // border: 1px solid rgb(219, 219, 219);
    // border-radius: 10rem;
    padding-left: 0.9rem;
  }
  .ng-value-container .ng-value{
    padding-left: 0.9rem;
  }
}
