<ng-container *ngIf="showButton">

    <button class="btn btn-sm border-0 shadow-sm rounded-pill" (click)="showNgSelect()">

        <mat-icon fontSet="material-icons-outlined" class="align-middle text-shaded" style="font-size: 16px;height:unset">filter_alt</mat-icon>
        <span class="align-middle text-shaded poppins-text">{{buttonText}}</span>
    </button>
</ng-container>
<ng-container *ngIf="!showButton">

    <ng-select class="border-0" [(ngModel)]="selectedItem" [multiple]="true" (change)="toggleSelect($event)">
        <ng-container *ngFor="let itm of stringsInput">
            <ng-option>{{itm}}</ng-option>
        </ng-container>
    </ng-select>
</ng-container>