table thead tr {
    background-color: #61d439;
    color: white;
}

ul {
    list-style-type: none;
}

.btn_colr {
    border: solid 1px #dbffce;
    box-shadow: 4px 6px 9px -5px #61d439;
    color: #61d439;
    border-radius: 11px;
}

.btn_colr.active {
    background-color: #61d439;
    border: solid 1px #dbffce;
    box-shadow: 4px 6px 9px -5px #61d439;
    color: #ffffff;
    border-radius: 11px;
}

.ttlClr {
    background-color: #deffe1;
}

.profPhoto {
    border-radius: 50%;
}

.icon_design {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.card_big {
    border-radius: 25px;
    box-shadow: 0px 26px 52px -13px #8af5669c;
    border: solid 1px #94f30021;
}

.card_md {
    border-radius: 25px;
    box-shadow: 16px 16px 34px -13px #a3e78b;
    border: solid 1px #94f30042;
}

.card_sm {
    border-radius: 25px;
    box-shadow: 16px 16px 34px -13px #61d53999;
    border: solid 1px #94f30045;
    text-align: center;
    padding: 8px;
}

.form_custom {
    border: solid 1px #f2e9e9;
    box-shadow: 4px 4px 14px 0px #dcffdc;
}
.form_custom{
    border-radius: 20px;
}
.btn_submit_custom{
    margin-top: 10px;
    background-color: #61d439;
    border-radius: 20px;
    color: white;
}

.table>:not(:first-child) {
    border-top: 1px solid currentColor;
}
.btn-primary{
    background-color: #61d539;
    color:white;
    border: #61d539;
}