.example-container {
    height : calc(100vh - 1rem);
    // border: 1px solid red;
}

mat-drawer{
    height: calc(100vh - 1rem);
    overflow-y: auto;
    width:12rem;
    // border-right: 1px solid silver;
    box-shadow: 0.35rem 0.35rem 0.55rem  -0.55rem  rgb(51, 51, 51,50%) !important;
    background-color: #f6f6f6;

}


