<div class="card custom-card-rounded details-card shadow-sm border-shaded" [ngClass]="!toggleSwitch ? 'disabled':''">
    <div class="card-body m-0 p-0 d-flex" style="width:15rem">
        <div class="slanting-banner poppins-text pointer" [ngClass]="payColorClass">

            <span class="paid-rotate-str text-white d-block" style="box-shadow:none !important;" >
                <ng-container *ngIf="toggleSwitch === false"> Inactive</ng-container>
                <ng-container *ngIf="toggleSwitch === true">
                    <button type="button" class="pointer border-0 bg-transparent text-white"
                        style="pointer-events:painted; z-index: 999;" (click)="routeToFees(studentDetailsList);">
                        {{paidString}}
                    </button>
                </ng-container>

            </span>
        </div>

    </div>
    <div class="card-body m-0 px-1 border-0 position-relative" style="top:-5rem;line-height: 4;">

        <div class="d-flex details-content poppins-text">
            <div class="w-25 text-center my-auto">
                <div data-letters="S" class="rounded-circle"></div>
                <!-- <img src="https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max"
                    height="75" width="75" class="img-fluid rounded-circle mx-auto" alt="..."> -->
            </div>
            <div class="w-75 ms-2">
                <h5 class="card-title fw-bold poppins-text text-break">{{studentDetailsList?.STUD_FIRST_NAME}}
                    {{studentDetailsList?.STUD_LAST_NAME}}</h5>
                <div class="card-text text-secondary">

                    <table class="table borderless m-0 p-0 text-secondary">
                        <th class="fw-normal text" style="width:100px">Admission Id</th>
                        <td class="text-breakup text-wrap" style="max-width: 8.5rem;">{{studentDetailsList?.ADMN_NO}}</td>
                    </table>
                    <table class="table borderless m-0 p-0 text-secondary">
                        <th class="fw-normal" style="width:100px">Bus Route</th>
                        <td class="text-breakup text-wrap" style="max-width: 8.5rem;">#
                            {{studentDetailsList?.BUS_RUTE_CD}}
                            <!-- <span class="info d-inline"><mat-icon>info</mat-icon>PARENT-PICKUP-DROP</span> -->
                        </td>
                        <td class="align-middle" *ngIf="studentDetailsList?.BUS_RUTE_CD != 'PARENT-PICKUP-DROP'"><span
                                class="small pointer"
                                (click)="openModalWindowEvent({modal:'route',busRoutecode:studentDetailsList?.BUS_RUTE_CD,studentDetails:studentDetailsList})">
                                <mat-icon style="font-size:1rem;box-shadow:none !important;" class="border-0 bg-transparent">info</mat-icon>
                            </span></td>
                    </table>
                </div>



            </div>
            <!-- <div>
                <mat-icon>more_vert</mat-icon>
            </div> -->
        </div>
        <div class="d-flex justify-content-between mx-2 w-75 mx-auto">
            <div class="">
                <!-- <i class="fa fa-phone shadow"></i> -->
                <mat-icon fontSet="material-icons-outlined" class="rounded-circle shadow">forum</mat-icon>
            </div>
            <div>
                <mat-icon fontSet="material-icons-outlined" class="rounded-circle shadow">phone</mat-icon>

                <!-- <i class="fa fa-message shadow"></i> -->
            </div>
            <div class="pointer">
                <!-- <i class="fa fa-eye shadow"></i> -->
                <mat-icon fontSet="material-icons-outlined" class="rounded-circle shadow"
                    (click)="routeToView(studentDetailsList)">visibility</mat-icon>
            </div>
            <div class="pointer">
                <ng-container *ngIf="toggleSwitch">
                    <mat-icon fontSet="material-icons-outlined" class="rounded-circle shadow" (click)="toggle()">
                        toggle_on
                    </mat-icon>
                </ng-container>
                <ng-container *ngIf="!toggleSwitch">
                    <mat-icon fontSet="material-icons-outlined" class="rounded-circle shadow disabled"
                        (click)="toggle()">
                        toggle_off
                    </mat-icon>
                </ng-container>

            </div>
        </div>

    </div>
</div>