<div class="card border-0 shadow custom-card-rounded details-card">
    <div class="card-body m-0 p-0 d-flex" style="width:15rem">
        <div class="slanting-banner themed-primary poppins-text">
            <span class="paid-rotate-str text-white">Fully Paid</span>
        </div>

    </div>
    <div class="card-body m-0 px-1 border-0 position-relative" style="top:-5rem">

        <div class="d-flex details-content poppins-text">
            <div class="w-25 text-center my-auto">
                <div data-letters="S" class="rounded-circle"></div>
                <!-- <img src="https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=400&fit=max"
                    height="75" width="75" class="img-fluid rounded-circle mx-auto" alt="..."> -->
            </div>
            <div class="w-75 ms-2">
                <h5 class="card-title fw-bold poppins-text text-themed">XXXXXXXX</h5>
                <div class="card-text text-secondary">

                    <table class="table borderless m-0 p-0 text-secondary">
                        <th class="fw-normal text">Admission Id</th>
                        <td>XXXX</td>
                    </table>
                    <table class="table borderless m-0 p-0 text-secondary">
                        <th class="fw-normal">Bus Route</th>
                        <td>#12</td>
                    </table>
                </div>


                <div class="d-flex justify-content-between w-75 my-4">
                    <div class="">
                        <!-- <i class="fa fa-phone shadow"></i> -->
                        <mat-icon  fontSet="material-icons-outlined" class="rounded-circle shadow">forum</mat-icon>
                    </div>
                    <div>
                        <mat-icon fontSet="material-icons-outlined"  class="rounded-circle shadow">phone</mat-icon>

                        <!-- <i class="fa fa-message shadow"></i> -->
                    </div>
                    <div>
                        <!-- <i class="fa fa-eye shadow"></i> -->
                        <mat-icon fontSet="material-icons-outlined" class="rounded-circle shadow">visibility</mat-icon>

                    </div>

                </div>
            </div>
            <div>
                <mat-icon>more_vert</mat-icon>
            </div>
        </div>

    </div>
</div>