<mat-toolbar class="shadow-sm">

    <div>
        <button type="button" class="bg-transparent border-0 d-flex" (click)="toggleEvent();">
            <div class=""><mat-icon class="text-themed align-middle">menu</mat-icon></div>
            <!-- <img src="assets/images/graduation-hat.png" class="img-thumbnail border-0">             -->
            <div class="fs-5 text-bold-condensed fw-bold text-themed ms-2 my-auto"> {{greetText}}</div>
        </button>

    </div>
    <div>

        <ng-container>

            <ng-container *ngTemplateOutlet="profileButton"></ng-container>

        </ng-container>
    </div>

</mat-toolbar>


<ng-template #profileButton>
    <button mat-button [matMenuTriggerFor]="menu">
        <!-- <ng-container *ngIf="(profileDetails | async) as profile"> -->
            <div class="d-flex" style="max-width: 8rem;">
              <div class="my-auto">
                <img class="avatar" height="30" width="30" *ngIf="profilePhotoURL"
                [src]="profilePhotoURL">
                <div height="30" width="30" class="avatarText bg-themed text-white text-uppercase"
                    *ngIf="!profilePhotoURL && profileDetails?.username">
                    {{profileDetails?.username | slice : 0:1}}</div>
              </div>
              <div class="">              
                  <div class="card-text m-0 p-0">{{profileDetails?.username ? profileDetails?.username : ''}}</div>
                  <div class="card-text m-0 p-0"><small class="text-muted"># {{profileDetails?.id}}</small></div>
              </div>
            </div>
        <!-- </ng-container> -->
        <!-- <div class="card m-0 p-0"> -->
          <!-- </div> -->
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="poppins-text">Profile</button>
      <button mat-menu-item class="poppins-text" (click)="logout()">Logout</button>
    </mat-menu>
</ng-template>