<div class="container-fluid">

  <div class="row mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-sm btn-primary btn-themed mb-2" (click)="back()" type="button">
        <i class="fas fa-chevron-left tex-green smallfont"></i>
        Back</button>
    </div>
    <div class="col-6">
      <h1 class="h5 fw-bold my-2">Route List</h1>
    </div>

    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text input_group_icon" id="basic-addon1"><i class="fas fa-search"></i></span>
        <input type="text" class="form-control custom_form_control" [(ngModel)]="searchText" placeholder="Search"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>

  <!-- <h1 class="h5 fw-bold my-2">Bus list</h1> -->
  <div class="row">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-sm btn-primary btn-themed mb-2" [routerLink]="'/pages/bus-management/add-route'"
        type="button">
        <i class="fas fa-bus-alt tex-green smallfont"></i>
        Add New Route</button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

    <ng-container *ngFor="let route of routeList  | filter : searchText;; let i = index;">
      <div class="col">
        <div class="card shadow">
          <div class="card-body p-2 m-0">
            <div class="row p-0 m-0">
              <div class="col-12">

                <ul class="list-group mb-3">
                  <li class="d-flex justify-content-between lh-sm">
                    <div>
                      <p class="h5 fw-bold text-bold-condensed text-themed m-0 p-0">
                        <i class="fas fa-bus-alt tex-green small"></i>
                        {{route.BUS_RUTE_CD}}
                      </p>
                    </div>
                    <span class="text-muted smallfont pointer"  [matMenuTriggerFor]="menu">  <i
                        class="fas fa-ellipsis-v text-themed small"></i></span>

                    <mat-menu #menu="matMenu" class="p-0 m-0">
                      <div class="list-group pointer">
                        <a class="list-group-item list-group-item-action small" (click)="openPopup(route)" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" >View</a>
                        <a class="list-group-item list-group-item-action small">Edit</a>
                        <a class="list-group-item list-group-item-action small">Delete</a>
                      </div>
                    </mat-menu>


                  </li>
                  <li class="d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-muted smallfont">Bus No:</small>
                    </div>
                    <span class="text-muted smallfont">{{route.BUS_RUTE_NO}}</span>
                  </li>
                  <li class="d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-muted smallfont">Driver Name</small>
                    </div>
                    <span class="text-muted smallfont">{{route.BUS_RUTE_DRIVER_NAME}}</span>
                  </li>
                  <li class="d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-muted smallfont">Total Stops</small>
                    </div>
                    <span class="text-muted smallfont">{{route.bus_route_details.length}}</span>
                  </li>

                </ul>

                <div class="row">
                  <div class="col-3">
                    <button type="button" class="btn btn-sm btn-primary btn-light text-themed shadow"
                      style=" width:2rem; height:2rem;">
                      <i class="fas fa-map-marked-alt small"></i>
                    </button>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-sm btn-primary btn-light text-themed shadow"
                      style=" width:2rem; height:2rem;">
                      <i class="fas fa-phone small"></i>
                    </button>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-sm btn-primary btn-light text-themed shadow"
                      style=" width:2rem; height:2rem;">
                      <i class="fas fa-location-arrow small"></i>
                    </button>
                  </div>
                  <div class="col-3">
                    <button type="button" (click)="openPopup(route)" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop" class="btn btn-sm btn-primary btn-light text-themed shadow"
                      style=" width:2rem; height:2rem;">
                      <i class="fas fa-eye small"></i>
                    </button>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" [ngStyle]="{'display':displayStyle}" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Detail View</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="modalData">
        <!-- <pre>-------------{{modalData.bus_route_details |json}}</pre> -->


 
<!-- The Timeline -->

<ul class="timeline" *ngIf="modalData && modalData.bus_route_details && modalData.bus_route_details.length>0">

	<!-- Item 1 -->
	<li *ngFor="let item of modalData.bus_route_details; let i = index;">
		<div  [ngClass]="{'direction-r': 0 === i % 2, 'direction-l': 0 != i % 2}">
			<div class="flag-wrapper">
				<span class="flag">{{item.rute_stop_name}}</span>
				<span class="time-wrapper"><span class="time">Stop No: {{item.rute_stop_no}}</span></span>
			</div>
			<!-- <div class="desc">My current employment. Way better than the position before!</div> -->
		</div>
	</li>  
</ul>

<p *ngIf="modalData && modalData.bus_route_details && modalData.bus_route_details.length == 0">No Stops found</p>


        <table class="table table-striped table-hover">

          <tbody>
            <tr>
              <th scope="row">Academic ID :</th>
              <td>{{modalData.ACADEMIC_ID}}</td>
            </tr>
            <tr>
              <th scope="row">Bus Route :</th>
              <td>{{modalData.BUS_RUTE_CD}}</td>

            </tr>
            <tr>
              <th scope="row">Bus Reg No:</th>
              <td>{{modalData.BUS_RUTE_NO}}</td>
            </tr>
            <tr>
              <th scope="row">Driver Name</th>
              <td>{{modalData.BUS_RUTE_DRIVER_NAME}}</td>
            </tr>
            <tr>
              <th scope="row">Driver Mobile</th>
              <td>{{modalData.BUS_RUTE_DRIVER_NO}}</td>
            </tr>
            <tr>
              <th scope="row">In-Charge Name</th>
              <td>{{modalData.BUS_RUTE_INCH_NAME}}</td>
            </tr>
            <tr>
              <th scope="row">In-Charge Mobile</th>
              <td>{{modalData.BUS_RUTE_INCH_NO}}</td>
            </tr>
            <tr>
              <th scope="row">Insurance Details</th>
              <td>{{modalData.BUS_RUTE_INS_DTL}}</td>
            </tr>
            <!-- <tr>
              <th scope="row">1</th>
              <td>{{modalData.BUS_INSURANCE_DETAILS}}</td>
            </tr> -->
            <tr>
              <th scope="row">FC Details</th>
              <td>{{modalData.BUS_FC_DETAILS}}</td>

            </tr>
            <tr>
              <th scope="row">Cleaner Name</th>
              <td>{{modalData.BUS_CLEANER_NAME}}</td>
            </tr>
            <tr>
              <th scope="row">Cleaner Mobile</th>
              <td>{{modalData.BUS_CLEANER_MOBILE_NO}}</td>
            </tr>
            <tr>
              <th scope="row">Camera Details</th>
              <td>{{modalData.BUS_CAMERA_DETAILS}}</td>
            </tr>
            <tr>
              <th scope="row">GPRS Details</th>
              <td>{{modalData.BUS_GPRS_DETAILS}}</td>
            </tr>
            <tr>
              <th scope="row">Seat Capacity</th>
              <td>{{modalData.BUS_SEAT_CAPACITY}}</td>
            </tr>
            <tr>
              <th scope="row">Comments</th>
              <td>{{modalData.COMMENTS}}</td>
            </tr>
          </tbody>
        </table>
        <!-- <pre>{{modalData |json}}</pre> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
          (click)="closePopup()">Close</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>
<!-- 
<pre>

  {{routeList |json}}
</pre> -->