li.page-item a{
color:var(--primary-color) !important
}
li.page-item.disabled a{
    color: var(--placeholder-color) !important;
}
.page-item.active .page-link{
background:var(--primary-color) !important;
color:white !important;
border-color:var(--primary-color) !important;
box-shadow: 0px 0px 7px 2px rgb(97 213 57 / 75%) !important;

}

.page-link:focus{
box-shadow: 0px 0px 7px 2px rgb(97 213 57 / 75%) !important;

}