@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

* {
  font-family: "ERP Lighter", "Helvetica Neue", sans-serif;
}
:root {
  /* Colors: */
  --placeholder-color: #868d96;
  --primary-color: rgb(97, 213, 57);
  --secondary-accent-color: rgb(249, 192, 0);
  --primary-color-dark : rgb(71, 168, 39);
}
body {
  width: 100%;
}

.bg-themed {
  background-color: var(--primary-color) !important;
}
.btn-accent-themed{
  background-color: var(--secondary-accent-color) !important;

}
.btn-themed {
  background-color: var(--primary-color-dark) !important;
}

.outline-none {
  outline: none !important;
}

.form-control.btn-themed:focus {
  border-color: var(--primary-color) !important;
}

.text-themed {
  color: var(--primary-color-dark) !important;
}

.btn-themed.btn-check:focus + .btn.btn-themed,
.btn.btn-themed:focus {
  box-shadow: 0 0 0 0.25rem rgb(97 213 57/ 25%);
}

.error-border-danger {
  box-shadow: 0 0 5px 0.25rem rgba(213, 88, 57, 0.25) !important;
}
.poppins-text {
  font-family: Poppins;
}

.text-condensed {
  font-family: "ERP condensed";
}

.btn-text-condensed{
  font: normal normal normal 20px/24px Myriad Pro;
}

.pointer {
  cursor: pointer !important;
}
.bg-themed-gradient {
  background: linear-gradient(90deg, var(--primary-color), #46a625);
}
.input-themed {
  box-shadow: 0px 3px 6px #00000029 !important;
}
::placeholder {
  color: var(--placeholder-color);
  opacity: 0.5;
  font-size: 0.8rem;
  // height: 12px;
}
