@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
* {
  font-family: "ERP Lighter", "Helvetica Neue", sans-serif;
}
:root {
  /* Colors: */
  --placeholder-color: #868d96;
  --primary-color: rgb(97, 213, 57);
  --secondary-accent-color: rgb(249, 192, 0);
  --primary-color-dark: rgb(71, 168, 39);
  --ripple-color: rgba(150, 217, 79, 0.2);

  --custom-border-radius: 20px;
}
body {
  width: 100%;
}

.bg-themed {
  background-color: var(--primary-color) !important;
}
.bg-accent-themed {
  background-color: var(--secondary-accent-color) !important;
}
.btn-accent-themed {
  background-color: var(--secondary-accent-color) !important;
}
.btn-themed {
  background-color: var(--primary-color-dark) !important;
}
.btn-outline-themed:active {
  background-color: var(--primary-color-dark) !important;
  color: white !important;
}
.btn-outline-themed {
  color: var(--primary-color-dark) !important;
  border-color: var(--primary-color-dark) !important;
}
.outline-none {
  outline: none !important;
}

.form-control.btn-themed:focus {
  border-color: var(--primary-color) !important;
}

.badge-themed {
  color: var(--primary-color-dark) !important;
}

.text-themed {
  color: var(--primary-color-dark) !important;
}

.btn-themed.btn-check:focus + .btn.btn-themed,
.btn.btn-themed:focus {
  box-shadow: 0 0 0 0.25rem rgb(97 213 57/ 25%);
}

.error-border-danger {
  box-shadow: 0 0 5px 0.25rem rgba(213, 88, 57, 0.25) !important;
}
.poppins-text {
  font-family: Poppins;
}

.text-condensed {
  font-family: "ERP condensed";
}

.btn-text-condensed {
  font: normal normal normal 20px/24px Myriad Pro;
}

.pointer {
  cursor: pointer !important;
}
.bg-themed-gradient {
  background: linear-gradient(90deg, var(--primary-color), #46a625);
}
.input-themed {
  box-shadow: 0px 3px 6px #00000029 !important;
}
::placeholder {
  color: var(--placeholder-color);
  opacity: 0.5;
  font-size: 0.8rem;
  // height: 12px;
}
label,
.label {
  font-size: 0.9rem;
  text-align: left;
  font-family: ERP Lighter;
  letter-spacing: 0px;
  height: 1rem;
  color: #868d96;
}

[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1.25em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-transform: capitalize;
  text-align: center;
  border-radius: 50%;
  background: var(--primary-color);
  vertical-align: middle;
  // margin-right: 1em;
  color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #b6c4b6;
  // outline: 1px solid rgb(36, 71, 7);
}

.user-select-none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.text-shaded {
  color: rgb(156 163 175) !important;
}

.border-shaded {
  border: 1px solid rgba(221, 221, 221, 0.6) !important;
  // box-shadow: ;
  box-shadow: 1px 2px 7px 1px rgba(221, 221, 221, 0.6)  !important;
}

/** themed cdk overlay dilog */
.cdk-overlay-dark-backdrop {
  background: rgb(89 93 86 / 90%) !important;
}
/** end of themed cdk overlay dilog */


/** skeleton styles**/
.skeleton-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.themed-shadow{
  box-shadow:1px 7px 27px -10px rgb(138 245 102 / 61%) !important;
}


.custom_form_control {
  border-radius: 1.25rem;
  border: 1px solid #ffffff;
  background-color: #fff;
}

.input_group_icon {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 1.25rem;
}

.form_select_custom {
  border: 1px solid #ffffff;
  border-radius: 1.25rem;
}