<div class="card m-4 shadow border-0 shimmers" style="border-radius: 48px;">
    <div class="card-body">
        <div class="text-end">
            <button type="button"
                class="btn-accent-themed border-0 text-white text-condensed rounded-pill px-3 py-1 btn-small small">
                <span>
                    <mat-icon class="my-auto align-middle">chevron_left</mat-icon>
                </span>
                Back to dashboard
            </button>
        </div>
    </div>

    <div class="card-body">

        <app-stepper #cdkStepper [orientation]="'vertical'">
            <cdk-step>
                <ng-template cdkStepLabel>
                    Student Details
                </ng-template>
                <div class="card-body m-0 p-0 animate__animated animate__fadeInUp animate__slow">
                    <app-admission-form></app-admission-form>
                </div>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    Parent Details
                </ng-template>
                <div class="card-body m-0 p-0 animate__animated animate__fadeInUp animate__slow">

                    <app-parent-form [_studentDetails]="loadStudentDetails"></app-parent-form>

                </div>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    Sibling Details
                </ng-template>
                <div class="card-body m-0 p-0 animate__animated animate__fadeInUp animate__slow">
                    <app-sibiling-form [_studentDetails]="loadStudentDetails"></app-sibiling-form>

                </div>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    Transport Details
                </ng-template>
                <div class="card-body m-0 p-0 animate__animated animate__fadeInUp animate__slow">
                    <app-transport-form [_studentDetails]="loadStudentDetails"></app-transport-form>

                </div>
            </cdk-step>
            <cdk-step>
                <ng-template cdkStepLabel>
                    Fees Details
                </ng-template>
                <div class="card-body m-0 p-0 animate__animated animate__fadeInUp animate__slow">
                    <app-fees-form [_studentDetails]="loadStudentDetails"></app-fees-form>
                    
                </div>
            </cdk-step>

        </app-stepper>
    </div>

</div>