<div class="card m-4 shadow border-0 shimmers" style="border-radius: 48px;">
    <div class="card-body">
        <div class="text-end">
            <button type="button"
                class="btn-accent-themed border-0 text-white text-condensed rounded-pill px-3 py-1 btn-small small">
                <span>
                    <mat-icon class="my-auto align-middle">chevron_left</mat-icon>
                </span>
                Back to dashboard
            </button>
        </div>
    </div>

    <div class="card-body">

        <app-stepper #cdkStepper linear [orientation]="'vertical'" (selectionChange)="selected($event)">
            <ng-container *ngFor="let stepper of stepperLocalState">
                <cdk-step (interacted)="interactedStreamStepper($event)">
                    <ng-template cdkStepLabel>
                        <div class="text-capitalize">{{stepper.label}} Details</div>
                        <small class="d-block text-center text-danger"
                            *ngIf="!stepper.valid && stepper.interacted">Error</small>
                    </ng-template>
                    <div class="card-body m-0 p-0 animate__animated animate__fadeIn">
                        <ng-container [ngSwitch]="stepper.label">
                            <ng-container *ngSwitchCase="'student'">
                                <app-admission-form (studentDetailsFormStatus)="studentDetailsFormStatusHandle($event)">
                                </app-admission-form>
                            </ng-container>
                            <ng-container *ngSwitchCase="'sibiling'">
                                <app-sibiling-form [admissionNo]="this.studentDetails.ADMN_NO"
                                    (sibDetailsFormStatus)="sibDetailsFormStatusHandle($event)">
                                </app-sibiling-form>
                            </ng-container>
                            <ng-container *ngSwitchCase="'parent'">
                                <app-parent-form [admissionNo]="this.studentDetails.ADMN_NO"
                                    (parentDetailsFormStatus)="parentDetailsFormStatusHandle($event)">
                                </app-parent-form>
                                <details [open]="this.parentDetails.PRNT_CD">
                                    <summary class="small mx-2">Parent Address</summary>
                                    <app-address-form [admissionNo]="this.studentDetails.ADMN_NO"
                                        (addressFormStatus)="parentAddressFormStatusHandle($event)">
                                    </app-address-form>
                                </details>

                            </ng-container>
                            <ng-container *ngSwitchCase="'transport'">
                                <app-transport-form [admissionNo]="this.studentDetails.ADMN_NO" [routes]="routeDetails"
                                    (transportDetailFormStatus)="busDetailsFormStatusHandle($event)">
                                </app-transport-form>
                            </ng-container>
                        </ng-container>
                    </div>
                </cdk-step>
            </ng-container>
            <cdk-step (interacted)="interactedStreamStepper($event)">
                <ng-template cdkStepLabel>
                    <div class="text-capitalize">Done</div>
                </ng-template>
                <div class="card-body m-0 p-0 my-2 animate__animated animate__fadeIn">
                    <p class="text-center text-themed">
                        <button class="btn btn-themed-outline text-themed" (click)="navigateToStudentList()">
                            <mat-icon class="align-middle">check_circle</mat-icon> <span class="align-middle"> Done</span>
                        </button>
                    </p>
                </div>
            </cdk-step>
        </app-stepper>


    </div>

</div>