<div class="card m-4 shadow border-0 shimmers" style="border-radius: 48px;">
    <div class="card-body">
        <div class="text-end">
            <button type="button"
                class="btn-accent-themed border-0 text-white text-condensed rounded-pill px-3 py-1 btn-small small">
                <span>
                    <mat-icon class="my-auto align-middle">chevron_left</mat-icon>
                </span>
                Back to dashboard
            </button>
        </div>
    </div>

    <div class="card-body">

        <app-stepper #cdkStepper [orientation]="'vertical'" (selectionChange)="selected($event)">
            <ng-container *ngFor="let stepper of stepperLocalState">
                <cdk-step (interacted)="interactedStreamStepper($event)">
                    <ng-template cdkStepLabel>
                        <div class="text-capitalize">{{stepper.label}} Details</div>
                        <small class="d-block text-center text-danger"
                            *ngIf="!stepper.valid && stepper.interacted">Error</small>
                    </ng-template>
                    <div class="card-body m-0 p-0 animate__animated animate__fadeIn">
                        <ng-container [ngSwitch]="stepper.label">
                            <ng-container *ngSwitchCase="'student'">
                                <app-admission-form (studentDetailsFormStatus)="studentDetailsFormStatusHandle($event)">
                                </app-admission-form>
                            </ng-container>
                            <ng-container *ngSwitchCase="'sibiling'">
                                <app-sibiling-form (sibDetailsFormStatus)="sibDetailsFormStatusHandle($event)">
                                </app-sibiling-form>
                            </ng-container>
                            <ng-container *ngSwitchCase="'parent'">
                                <app-parent-form (parentDetailsFormStatus)="parentDetailsFormStatusHandle($event)">
                                </app-parent-form>
                            <details [open]="this.parentDetails.PRNT_CD">
                                <summary class="small mx-2">Parent Address</summary>
                                <app-address-form (addressFormStatus)="parentAddressFormStatusHandle($event)">
                                </app-address-form>
                            </details>
                               
                            </ng-container>
                            <ng-container *ngSwitchCase="'transport'">
                                <app-transport-form [routes]="routeDetails"
                                    (transportDetailFormStatus)="busDetailsFormStatusHandle($event)">
                                </app-transport-form>
                            </ng-container>
                        </ng-container>
                    </div>
                </cdk-step>
            </ng-container>
        </app-stepper>


    </div>

</div>