<form [formGroup]="parentDetailsForm" class="card border-0 mt-4">
    <div class="row g-3 card-body">
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Admission Number" formControlName="ADMN_NO" fieldName="ADMN_NO" [isDisabled]="true"
                [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Parent / Gaurdian Name" formControlName="FIRST_NAME" fieldName="FIRST_NAME"
                [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Parent Education" formControlName="PRNT_EDUC" fieldName="PRNT_EDUC"
                [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
    </div>
    <div class="row g-3 card-body">
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Parent Occupation" type="select" [selectData]="occupation" formControlName="PRNT_OCCU"
                fieldName="PRNT_OCCU" [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Parent Aadhar Number" formControlName="PRNT_AADH_NO" [maskPlaceHolder]="'x'"
                [useMaskedInput]="true" maskedString="XXXX - XXXX - XXXX" fieldName="PRNT_AADH_NO"
                [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Parent Mobile Number" type="tel" formControlName="PRNT_PHNE_NO"
                [maskPlaceHolder]="'-'" [prefix]="'+91'" [useMaskedInput]="true" maskedString="(XXX) X XXX XXX"
                fieldName="PRNT_PHNE_NO" [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-xl-4">
            <app-erp-input label="Parent Relation" type="select" [selectData]="relations" formControlName="PRNT_CD"
                fieldName="PRNT_CD" [parentForm]="parentDetailsForm">
            </app-erp-input>
        </div>
    </div>
</form>
