.camera{
    background: var(--unnamed-color-f9c000) 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 5px var(--unnamed-color-f9c000);
background: #F9C000 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 5px #F9C000;
opacity: 1;
width: 88px;
height: 89px;

}
.icon-text {
    display: flex;
    align-items: center;
}